<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lanhui.mycommonlibrary">


    <application>
        <activity
            android:name=".base.BaseRecyclerViewActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".service.UpdateService"
            android:enabled="true"
            android:exported="true"></service>


        <service android:name=".service.DownloadService"></service>
    </application>

</manifest>